@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./variables.scss');
* {
  font-family: 'Montserrat', sans-serif;
}

.section-heading {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 64px;
}

body {
  margin: 0 !important;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

a {
  color: var(--color-text);
  text-decoration: none;
}