:root {
  --color-primary: #ffa655;
  --color-primary-darken: #d2691e;
  --color-primary-lighten: #ffebcd;
  --color-additional: #2e3a23;
  --color-additional-darken: #222b16;
  --color-additional-lighten: #79995c;
  --color-text: #222222;
  --color-secondary: #afafaf;

  --color-control-background: #ffffff;
  --color-background: #f5f4eb;
}
