:root {
  --color-primary: #ffa655;
  --color-primary-darken: #d2691e;
  --color-primary-lighten: #ffebcd;
  --color-text: #222222;
  --color-secondary: #afafaf;

  --color-control-background: #ffffff;
  --color-background: #f0efdf;
}
